*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: aliceblue;

}
h2{
    text-align: center;
    color: aliceblue;
    background-color: rgb(83, 12, 12);
}
.Ejercicio1{
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: large;

}
.Ejercicio2{
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: large;
}
.Ejercicio3{
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: large;
}
.Ejercicio4{
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: large;
}

.Ejercicio5{
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: large;
    text-align: center;
}

.Ejercicio6{
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: large;
}