
body{
    display: flex;
    background-color: rgb(117, 117, 141);
}
.contenedor{
    border: 1px;
    margin: 0 auto;
    width: 60%;
    padding: 10px;
    background-color: rgb(255, 255, 255);

}
.cabeza{
    margin-left: 15px;
    display: flex;
    background-color: rgb(255, 255, 255)
    


}
.nombre{
    margin-left: 30px;
    width: 100%;
    text-align:left;
    font-family: 'Libre Franklin', sans-serif;
}

.principal{
    background-color: rgb(255, 255, 255);
}

.contenido{
    text-align:sjustify;
    font-family: 'Libre Franklin', sans-serif;

}

fieldset{
    margin-bottom: 50px;

}

legend{
    background-color: rgb(117, 117, 141);
    padding: 5px;
    border-radius: 10px;
}

